@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;@300;400;500;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 68px;

  --first-color-light: #afa5d9;
  --white-color: #ffffff;
  --black-color: #000000;
  --body-color: #f5f5f5;
  --font-color: #707070;

  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;

  --z-fixed: 99;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header__toggle {
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--white-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--black-color);
}

.nav__logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav__link {
  position: relative;
  color: var(--font-color);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--black-color);
}

.nav__icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--black-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}


.dashboard-container {
  padding: 1rem 2rem 0 0;
}

.container {
  padding: 1rem 1rem 0 0;
}

h1 {
  font-size: 3.3125rem;
  margin: 0;
}

h4 {
  font-size: 0.875rem;
  color: var(--font-color);
  font-weight: 400;
  margin: 0;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.dashboard-banner, .dashboard-statistics {
  height: 330px;
  margin-top: 2rem;
  position: relative;
}

.dashboard-banner {
  width: 900px;
  border-radius: 33px;
  background-color: var(--white-color);  
  padding: 1rem;
  flex: 1;
}

.banner-text {
  position: absolute;
  color: var(--black-color);
  top: 10%;
  left: 5%;
  font-size: 0.75rem;
}

.banner-text > h3 > span {
  font-weight: 300;
  color: var(--black-color);
}

.banner-text ul {
  position: absolute;
  margin: 5px;
  font-weight: 300;
  color: var(--black-color);
  line-height: 250%;
}

#image-db {
  object-fit: cover;
  overflow: hidden;
  float: right;
  max-width: 300px;
  max-height: 3000px;
}

.dashboard-statistics {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 1rem;
}

.grid-item {
  background-color: var(--white-color);
  border-radius: 25px;
  padding: 1.5rem 1.5rem 1rem;
  position: relative;
}

.grid-item span {
  color: var(--black-color);
}

.grid-item p {
  margin: 0;
  padding: 0 0 1rem 0;
  color: var(--font-color);
}

.grid-item .stats {
  font-size: 2.5rem;
}

.grid-item a {
  cursor: pointer;
}

.grid-item img {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  justify-self: right;
  width: 35px;
  height: 35px;
}

/* PAGE  */

.page-container {
  position: absolute;
  height: 100px;
  right: 0;
}

.page-container  ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.page-container  li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  border-radius: 5px;
}

.page-container li a {
  color: var(--black-color);
}

.page-container li:hover {
  background-color: black;
}

.page-container li:hover a {
  color: var(--white-color);
}

.page-container .btn-page {
  width: 100%;
  height: 100%;
}

.page-container .prev {
  background-image: url(../img/prev.png);
}

.page-container .next {
  background-image: url(../img/next.png);
}

.page-container li:hover .prev {
  background-image: url(../img/prev-white.png) !important;
  
}

.page-container li:hover .next {
  background-image: url(../img/next-white.png) !important;
  
}

/* MODAL  */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: var(--white-color);
  z-index: 100;
  overflow-y: scroll;
  transition: 0.5s;
}
/*
.modal-backdrop.in {
    opacity: 0.9;
} */

.modal.active {
  width: 40%;
}

.modal.active .body-pd {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
}

.modal-close {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  margin: 25px;
  cursor: pointer;
  z-index: 101;
}

.addProduct-modal h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.addProduct-modal {
  padding: 50px 40px 150px;
  position: relative;
}

.addProduct-modal form {
  margin-top: 40px;
}

.addProduct-modal form .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.addProduct-modal form .item label {
  width: 180px;
}

.addProduct-modal form .item input {
  flex: 1;
  background-color: var(--body-color);
  border-radius: 10px;
  height: 50px;
  padding: 10px 10px 10px 20px;
  border: none;
}

.addProduct-modal form .item textarea {
  flex: 1;
  background-color: var(--body-color);
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  border: none;
}

.addProduct-modal form .item .img-input {
  flex: 1;
  height: 160px;
  border: 1px dashed var(--black-color);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white-color) !important;
  position: relative;
}

.addProduct-modal form .item #insertFile {
  position: absolute;
  right: 100px;
  display: none;
}

.addProduct-modal form .item .img-input img{
  width: 70px;
  height: 70px;
}

.addProduct-modal form #btn-submit {
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addProduct-modal form #btn-submit::before {
  content: "";
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  width: 13px;
  height: 13px;
}

#insertFile, #productNameInput, #productPrice, #description, #productQuantity {
  font-family: poppins;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img {
    width: 40px;
    height: 40px;
  }

  .header__img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* CUSTOMERS, ORDERS, STAFF, SETTINGS, PRODUCTS*/
.customers, .orders, .staff, .setting, .products{
  margin-top: 20px;
  position: relative;
}

/* TABLE  */
.customers-table, .orders-table, .staff-table, .products-table{
  margin-top: 30px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 10px;
}

.setting-table{
  padding: 35px 10px 10px 10px;
  background-color: var(--white-color);
  border-radius: 10px;
}

table {
  width: 100%;
  height: auto;
}

.title {
  padding: 0 10px 20px 40px;;
  text-align: left;
  color: var(--font-color);
  font-weight: 400;
  text-transform: uppercase;
}

.data {
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 14px;
}

.title:last-of-type, .data:last-of-type {
  text-align: right;
  padding-right: 70px;
}

.title:last-of-type {
  padding-right: 80px;
}

.title, .data {
  border-bottom: 1px solid var(--white-color);
}

td #shopBtn, td #deleteBtn, td #editBtn {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

img#image {
  width: 100px;
  height: 100px;
  padding-right: 20px;
}

.img-center {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid var(--white-color);
}


/* STAFF & PRODUCT SEARCH&ADD */

.staff-banner, .products-banner{
  width: 100%;
  height: 90px;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.search-input {
  background-color: var(--body-color);
  border-radius: 10px;
  width: 600px;
  height: 50px;
  padding: 10px 10px 10px 20px;
  font-family: poppins;
  border: none;
  background-image:url(../img/search.png);
  background-position:560px;
  background-size:20px;
  background-repeat:no-repeat;
}

.btn-addStaff, #btn-submit, .btn-upProfile, .btn-addProduct{
  display: block;
  width: 230px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--black-color);
  font-family: poppins;
  font-size: 16px;
  cursor: pointer;
}

.btn-addStaff a, #btn-submit, .btn-upProfile a, .btn-addProduct a{
  text-decoration: none;
  color: var(--white-color);
}

.btn-addStaff:hover a, #btn-submit:hover, .btn-upProfile:hover a, .btn-addProduct:hover a{
  color: var(--black-color);
}

.btn-addStaff:hover, #btn-submit:hover, .btn-upProfile:hover, .btn-addProduct:hover{
  border: 2px solid black;
  background-color: var(--white-color);
}

/*
#plusBtn {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}*/

 /* SETTING */

.profile-input {
  background-color: var(--body-color);
  border-radius: 10px;
  width: 800px;
  height: 50px;
  padding: 10px 10px 10px 20px;
  font-family: poppins;
  border: none;
}

.title-setting {
  text-align: left;
  font-weight: 400;
  padding: 0px 10px 20px 40px;
}

.data-setting, .button-setting{
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 14px;
}

.title-setting:last-of-type, .data-setting:last-of-type{
  text-align: left;
  padding-right: 70px;
}

.title-setting:last-of-type {
  padding-right: 80px;
}

.title-setting, .data-setting {
  border-bottom: 1px solid var(--white-color);
}

#role {
  background-color: var(--body-color);
  border-radius: 10px;
  width: 800px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  font-family: poppins;
  border: none;
  color: var(--font-color);
  background-image:url(../img/down-arrow.png);
  background-position:760px;
  background-size:20px;
  background-repeat:no-repeat;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

#custom-profile-input {
  display: none;
}

.btn-profileInput::-webkit-file-upload-button {
  visibility: hidden;
}

.btn-profileInput {
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 2px dashed #999;
  border-radius: 10px;
  width: 800px;
  height: 100px;
  padding: 55px 30px 0px 25px;
  cursor: pointer;
  font-family: poppins;
  background-image:url(../img/upload.png);
  background-position:center 40%;
  background-size:40px;
  background-repeat:no-repeat;
}

.btn-profileInput::before {
  content: 'Drag your image here';
  font-size: 11px;
  -webkit-user-select: none;
}

.btn-profileInput:hover {
  border-color: black;
}
.btn-profileInput:active {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.button-setting:last-of-type{
  padding: 25px 0px 10px 610px;
}

