@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;@300;400;500;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 68px;

  --first-color-light: #afa5d9;
  --white-color: #ffffff;
  --black-color: #000000;
  --body-color: #f5f5f5;
  --font-color: #707070;

  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;

  --z-fixed: 100;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

/*header*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  border-bottom: solid 1px rgb(235, 232, 232);
  background-color: black;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__toggle {
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 40px;
}

/*nav*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--white-color);
  padding: 0.5rem 1rem 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--black-color);
}

.nav__logo-name {
  color: var(--black-color);
  font-weight: 700;
}

.nav__link {
  position: relative;
  color: var(--font-color);
  margin-bottom: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--black-color);
}

.nav__icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--black-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

h1 {
  font-size: 3.3125rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

h4 {
  font-size: 0.875rem;
  color: var(--font-color);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.dashboard {
  display: flex;
  height: 100%;
  width: 100%;
  padding-right: 360px;
  padding-left: 60px;
}

.dashboard-banner {
  width: 700px;
  height: 300px;
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 33px;
  background-color: var(--white-color);
}

.banner-text {
  position: absolute;
  color: var(--black-color);
  top: 10%;
  left: 5%;
  font-size: 0.75rem;
}

.banner-text > h3 > span {
  font-weight: 300;
  color: var(--black-color);
}

.banner-text ul {
  position: absolute;
  margin: 5px;
  font-weight: 300;
  color: var(--black-color);
  line-height: 250%;
}

#image-db {
  object-fit: cover;
  overflow: hidden;
  float: right;
  max-width: 300px;
  max-height: 3000px;
}

.dashboard-sales {
  margin-right: 10px;
  width: 790px;
  height: 300px;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 33px;
  background-color: var(--white-color);
}

/* media queries*/
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header__img {
    width: 40px;
    height: 40px;
  }
  .header__img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
